#todo-list li {
	transition: opacity 1s;
	opacity: 0;
}

#todo-list li.append {
	opacity: 1;
	color: inherit;
}

#todo-list li.delete {
	opacity: 0;
}

#todo-list li.completed {
	opacity: 1;
	color: #a9a9a9;
	text-decoration: line-through;
}

